@*
    ViewData["Title"] = "Products Page";
*@

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="album py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                    <img class="card-img-top" src="~/Image/product2.jpeg" alt="Candle Product 1">
                    <div class="card-body">
                        <p class="card-text">Honeyed Harmony</p>
                        <div class="mt-3">
                            <button type="button" class="btn1 btn-lg btn-outline-secondary">Add to Cart</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                    <img class="card-img-top" src="~/Image/product3.jpeg" alt="Candle Product 2">
                    <div class="card-body">
                        <p class="card-text">Serenity Blossom</p>
                        <div class="mt-3">
                            <button type="button" class="btn1 btn-lg btn-outline-secondary">Add to Cart</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                    <img class="card-img-top" src="~/Image/product4.jpeg" alt="Essential Oil Product 3">
                    <div class="card-body">
                        <p class="card-text">Tranquil Twilight</p>
                        <div class="mt-3">
                            <button type="button" class="btn1 btn-lg btn-outline-secondary">Add to Cart</button>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                    <img class="card-img-top" src="~/Image/product4.jpeg" alt="Essential Oil Product 4">
                    <div class="card-body">
                        <p class="card-text">Tranquil Twilight</p>
                        <div class="mt-3">
                            <button type="button" class="btn1 btn-lg btn-outline-secondary">Add to Cart</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                    <img class="card-img-top" src="~/Image/product2.jpeg" alt="Candle Product 5">
                    <div class="card-body">
                        <p class="card-text">Tranquil Twilight</p>
                        <div class="mt-3">
                            <button type="button" class="btn1 btn-lg btn-outline-secondary">Add to Cart</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                    <img class="card-img-top" src="~/Image/product3.jpeg" alt="Candle Product 1">
                    <div class="card-body">
                        <p class="card-text">Lavender Dreams</p>
                        <div class="mt-3">
                            <button type="button" class="btn1 btn-lg btn-outline-secondary">Add to Cart</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                    <img class="card-img-top" src="~/Image/product3.jpeg" alt="Candle Product 1">
                    <div class="card-body">
                        <p class="card-text">Rose Petal Oasis</p>
                        <div class="mt-3">
                            <button type="button" class="btn1 btn-lg btn-outline-secondary">Add to Cart</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                    <img class="card-img-top" src="~/Image/product2.jpeg" alt="Candle Product 1">
                    <div class="card-body">
                        <p class="card-text">Citrus Sunrise</p>
                        <div class="mt-3">
                            <button type="button" class="btn1 btn-lg btn-outline-secondary">Add to Cart</button>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                    <img class="card-img-top" src="~/Image/product4.jpeg" alt="Essential Oil Product 9">
                    <div class="card-body">
                        <p class="card-text">Tranquil Twilight</p>
                        <div class="mt-3">
                            <button type="button" class="btn1 btn-lg btn-outline-secondary">Add to Cart</button>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                    <img class="card-img-top" src="~/Image/product2.jpeg" alt="Candle Product 1">
                    <div class="card-body">
                        <p class="card-text">Berry Bliss</p>
                        <div class="mt-3">
                            <button type="button" class="btn1 btn-lg btn-outline-secondary">Add to Cart</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                    <img class="card-img-top" src="~/Image/product2.jpeg" alt="Candle Product 1">
                    <div class="card-body">
                        <p class="card-text">Vanilla Velvet</p>
                        <div class="mt-3">
                            <button type="button" class="btn1 btn-lg btn-outline-secondary">Add to Cart</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                    <img class="card-img-top" src="~/Image/product3.jpeg" alt="Candle Product 12">
                    <div class="card-body">
                        <p class="card-text">Ocean Breeze Bliss</p>
                        <div class="mt-3">
                            <button type="button" class="btn1 btn-lg btn-outline-secondary">Add to Cart</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                    <img class="card-img-top" src="~/Image/product5.jpeg" alt="Aroma Diffuser Product 13">
                    <div class="card-body">
                        <p class="card-text">Classic Design Aroma Diffuser</p>
                        <div class="mt-3">
                            <button type="button" class="btn1 btn-lg btn-outline-secondary">Add to Cart</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
