<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Serenity_Sanctury_v1</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Serenity_Sanctury_v1.styles.css" asp-append-version="true" />
</head>

<!--Adding some style properties with inline CSS in body-->
<body>
    <header>
        <nav class="navbar navbar-expand-lg">
            <div class="container-fluid d-flex align-items-center">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"> 
                    <img src="~/Image/SLogo.png" alt="logo" style="height: 70px; width: 70px;"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1 d-flex align-items-center text-center">
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Products" asp-action="Index">Products</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="About">About</a>
                        </li>
                        
                        <!-- Search form -->
                        <li class="nav-item ms-auto">
                            <form class="d-flex" role="search">
                                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                                <button class="btn btn-outline-success" type="submit">Search</button>
                            </form>
                        </li>
                       @*  <li class="nav-item ms-auto">
                            <a class="nav-link" asp-area="" asp-controller="Account" asp-action="Login">Login
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Account" asp-action="Register">Register
                            </a>
                        </li> *@
                        <!-- These Login buttons and links could be a partial class or a view component -->
                        @using Microsoft.AspNetCore.Identity
                        @inject SignInManager<User> signInManager
                        @if (signInManager.IsSignedIn(User))
                        {
                            // signed-in user - Log Out button and username and change password link
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Account" asp-action="Profile">
                                    Profile
                                </a>
                            </li>
                            <li class="nav-item">

                                 <form method="post" asp-action="LogOut" asp-controller="Account"
                                      asp-area="">
                                    <input type="submit" value="Log Out"
                                           class="btn btn-outline-light" />
                                    <span class="text-light">@User.Identity?.Name</span>
                                </form> 
                            </li>
                        }
                        else
                        {
                            // anonymous user - Register link and Log In button
                            <li class="nav-item ms-auto">
                                <a class="nav-link" asp-area="" asp-controller="Account" asp-action="Login">
                                    Login
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Account" asp-action="Register">
                                    Register
                                </a>
                            </li>
                        }
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Cart" asp-action="Index">
                                <img src="~/Image/cart1.png" alt="Cart" style="height: 45px; width: 45px;"></a>
                        </li>
                    </ul>

                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <div class="container">
        <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-3 border-top">
            <div class="col-md-4 d-flex align-items-center">
                 &copy; 2024 - Serenity_Sanctury_v1 - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            </div>
        </footer>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            // Add active class to the current page's link
            var currentPageUrl = window.location.pathname.toLowerCase(); // Get current page URL
            $(".navbar-nav a.nav-link").each(function () {
                var linkUrl = $(this).attr("href").toLowerCase(); // Get link URL
                if (currentPageUrl === linkUrl) {
                    $(this).addClass("active"); // Add active class to the matching link
                }
            });

            // Toggle active class on click
            $(".navbar-nav a.nav-link").click(function () {
                $(".navbar-nav a.nav-link").removeClass("active"); // Remove active class from all links
                $(this).addClass("active"); // Add active class to the clicked link
            });
        });
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
